html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
}

h1 {
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 50px;
  line-height: 60px;
  margin-top: 40px;
  letter-spacing: -2px;
}

main {
  width: 100%;
  max-width: 98%;
  margin: 0 auto;
  padding: 16px;
}

@media (min-width: 36em) {
  h1 {
    font-size: 4em;
    line-height: 70px;
  }
}

@media (min-width: 48em) {
  h1 {
    font-size: 6.5em;
    line-height: 100px;
  }
}

@media (min-width: 60em) {
  h1 {
    font-size: 8.125em;
    line-height: 130px;
  }
}

@media (min-width: 75em) {
  h1 {
    font-size: 10.375em;
    line-height: 154px;
  }
}
